* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/*body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}*/

.button-product {
  text-align: justify;
}

.container {
  position: relative;
  width: 100%;
  max-width: 100%;
  height: calc(100vh - 40px);
  background: #fff;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.06), 0 2px 5px 0 rgba(0, 0, 0, 0.06);
  display: flex;
  flex-direction: column;
}

.container .leftSide {
  position: relative;
  flex: 30%;
  background: #fff;
  border-right: 1px solid rgba(0, 0, 0, 0.2);
}

.container .rightSide {
  position: relative;
  flex: 70%;
  background: #e5ddd5;
}

.container .rightSide::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.06;
}

.header {
  position: relative;
  width: 100%;
  height: 60px;
  background: #ededed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
}

.userimg {
  position: relative;
  width: 40px;
  height: 40px;
  overflow: hidden;
  border-radius: 50%;
  cursor: pointer;
}

.logo {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  background-color: #f0f2f5;
}

.logo img {
  width: 70%;
  height: 70%;
  position: absolute;
  top: 20%;
  left: 20%;
  margin: -25px 0 0 -25px;
}


.cover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.title {
  text-align: center;
  padding: 25px 0px 0px 0px;
}

.cuadro {
  width: 80%;
  max-width: 800px;
  height: auto;
  margin: auto;
}

.textArea {
  width: 100%;
  height: 400px;
  border: 1px solid black;
  font-size: 20px;
  overflow: auto;
  padding: 15px;
}

.linkAsis {
  padding: 10px 0px 0px 0px;
  text-align: center;
  text-decoration: none;
  font-size: 18px;
  text-transform: none;
  color: #111;
}

.fecha-flotante {
  position: absolute;
  background-color: #f0f0f0;
  padding: 5px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  /* Ajusta la posición según sea necesario */
  top: -20px;
  left: 50%;
  transform: translateX(-50%);
}

.nav_icons {
  display: flex;
}

.nav_icons li {
  display: flex;
  list-style: none;
  cursor: pointer;
  color: #51585c;
  font-size: 1.5em;
  margin-left: 22px;
}

.filtrar {
  position: relative;
  width: 10px;
  justify-content: center;
}

.search_chat {
  position: relative;
  width: 100%;
  height: 50px;
  background: #f6f6f6;
  display: flex;
  align-items: center;
  padding: 0 15px;
}

.buscador {
  width: 87.5%;
}

.search_chat div input {
  width: 100%;
  outline: none;
  border: none;
  background: #fff;
  padding: 6px;
  height: 38px;
  border-radius: 30px;
  font-size: 14px;
  padding-left: 40px;
}

.search_chat div input::placeholder {
  color: #bbb;
}

.search_chat div ion-icon {
  position: absolute;
  left: 30px;
  top: 14px;
  font-size: 1.2em;
}

.datepicker-container {
  position: absolute;
  z-index: 100;
  top: 0px;
  left: 100%;
  overflow: auto;
}

.filter {
  width: 10%;
  text-align: end;
  right: 0;
}

.chatlist {
  position: static;
  height: calc(100vh - 174px);
  overflow: scroll;
  overflow-x: hidden;
}

.chatlist .block {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 15px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.06);
  cursor: pointer;
}

.chatlist .block.active {
  background: #ebebeb;
  font-weight: bolder;
}

.chatlist .block:hover {
  background: #f5f5f5;
}

.chatlist .block .imgBox {
  position: relative;
  min-width: 45px;
  height: 45px;
  overflow: hidden;
  border-radius: 50%;
  margin-right: 10px;
}

.chatlist .block .details {
  position: relative;
  width: 100%;
}

.chatlist .block .details .listHead {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}

.chatlist .block .buttonHead .details .listHead h4 {
  font-size: 130%;
  font-weight: normal;
  color: #111;
}

.chatlist .block .details .listHead .time {
  font-size: 0.85em;
  opacity: 0.7;
}

.chatlist .block .details .listHead .time {
  color: #aaa;
}

.chatlist .block.unread .details .listHead .time {
  color: #06d755;
}

.buttonHead {
  width: 100%;
  border: none;
  background: #111;
  text-align: justify;
}

.button-back {
  color: white;
}

.botones {
  display: flex;
}

.debajo_botones {
  display: flex;
}

.message_p {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: none;
}

.no-leido {
  background: #06d755;
  color: #fff;
  min-width: 10px;
  height: 10px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.75rem;
}

.marcar-no-leidos {
  /*color: #06d755;*/
  color: #15394f;
}

.calendary {
  margin: 1%;
}

.message_p p {
  color: #aaa;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  font-size: 0.9em;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.imgText {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.imgText h4 {
  font-weight: 500;
  line-height: 1.2em;
  margin-left: 15px;
}

.imgText h4 span {
  font-size: 0.8em;
  color: #555;
}

/*---------------
      CHAT BOX
  ---------------*/
.vista_chatbox {
  height: calc(100vh - 183px);
  overflow-y: scroll;
  position: fixed;
  width: -webkit-fill-available;
}

.vista_chatbox {
  transition: margin-bottom 0.3s ease;
  /* Animación suave para el margen inferior */
}

.vista_chatbox.with-search {
  margin-bottom: 50px;
  height: calc(100vh - 124px);
  overflow-y: scroll;
  position: fixed;
  padding: 30px 0px 0px 0px;
}


.chatbox {
  position: relative;
  width: 100%;
  height: auto;
  padding: 20px 50px 20px 50px;
}

.switch-margin {
  margin-left: 20px;
}

.switch-active .MuiSwitch-track{
  background-color: #06d755 !important; /* Usa !important para sobreescribir el estilo por defecto */
}

.switch-active .MuiSwitch-thumb {
  color: #fff !important; /* Cambia el color del thumb si es necesario */
}

.labelRed {
  text-decoration-color: red  !important;
}

.message {
  position: relative;
  display: flex;
  width: 100%;
  margin: 5px 0;
}

.message p {
  position: relative;
  right: 0;
  text-align: left;
  max-width: 65%;
  padding: 18px;
  padding-bottom: 12px;
  background: #dcf8c8;
  border-radius: 10px;
  font-size: 0.9em;
  line-height: 19px;
}

.message p::before {
  content: "";
  position: absolute;
  top: 0;
  right: -12px;
  width: 20px;
  height: 20px;
  background: linear-gradient(135deg,
      #dcf8c6 0%,
      #dcf8c6 50%,
      transparent 50%,
      transparent);
}

.message p span {
  display: block;
  margin-top: 5px;
  font-size: 0.85em;
  opacity: 0.5;
  text-align: end;
}

.horamsg {
  margin-bottom: auto;
}

*::-webkit-scrollbar {
  width: 8px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: #aaaaaa;
  border-radius: 20px;
  border: 3px solid transparent;
}

.my_msg {
  justify-content: flex-end;
  padding-bottom: 10px;
}

.friend_msg {
  justify-content: flex-start;
  padding-bottom: 10px;
}

.friend_msg p {
  background: #fff;
  text-align: left;
}

.message.friend_msg p::before {
  content: "";
  position: absolute;
  top: 0;
  left: -12px;
  width: 20px;
  height: 20px;
  background: linear-gradient(225deg,
      #fff 0%,
      #fff 50%,
      transparent 50%,
      transparent);
}

.chat_input {
  position: absolute;
  width: 100%;
  height: 60px;
  background: #f0f0f0;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  bottom: 0;
}

.chat_input {
  transition: transform 0.3s ease-in-out;
  transform: translateY(0);
  /* Estado inicial visible */
}

.chat_input.hidden {
  opacity: 0;
  display: none;
}


.chat_input ion-icon {
  cursor: pointer;
  font-size: 1.8em;
  color: #51585c;
}

.chat_input ion-icon:nth-child(1) {
  margin-right: 15px;
}

.chat_input input {
  position: relative;
  width: 90%;
  margin: 0 20px;
  padding: 10px 20px;
  border: none;
  outline: none;
  border-radius: 30px;
  font-size: 1em;
}

.whatsappInputs{
  display: flex;
  align-items: baseline;
}

.codigo{
  width: 25%;
}

.numero{
  width: 80%;
}